.weather__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 20px 0;
  font-size: 22px;
  line-height: 26px;
}

.error__title {
  text-align: center;
  font-size: bold;
  color: rgb(255, 86, 86);
}

ul {
  width: 320px;
  margin: 0 auto 10px;
  padding: 0;

  list-style: none;
}

li {
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top-width: 0;
  font-size: 20px;
  color: #fff;
  background-color: #454d55;
}

li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.weather__forecast-link {
  display: block;
  width: 320px;
  margin: 0 auto 5px;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  background-color: #454d55;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: lighten($color: #454d55, $amount: 5);
  }
}
